sudo: false
language: ruby
rvm:
  - 2.4.0
  - 2.3.3
  - 2.2.6
  - jruby-9.1.5.0
  - jruby-head
  - ruby-head
cache:
  bundler: true

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
